body, html {

    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    position: relative;
    background-image: url(./assets/background.png);
    /* background-position: fixed; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}


:root {
    --primary-white: white;
    --primary-1:#799EFF;
    --primary-2:#FEFFC4;
    --primary-3:#FFDE63;
    --primary-4:#FFBC4C;
    --primary-4:#6e03b6;
    --primary-5:#b60312b7;
    --primary-6:darkblue;
    --primary-7:lightblue;
    --border-test: 0px solid violet;
    --font-color: gray;
    --margin-nav:80px;
    --padding-right:20px;
    --shadow: 8px 5px 5px 0px darkgray;
    --max-width: 1100px;
    --img-text:var(--primary-2);
    --border-radius: 10px; 


}

li {
        list-style-type: none;
}

a {
        text-decoration: none;
}
    
a:hover {
        text-decoration: none;
}

.container-nav {
    border: var(--border-test);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:var(--primary-4);
    height: var(--margin-nav);
    position: fixed;
    top:0;
    z-index: 5;



}


.nav-logo {
    border: var(--border-test);
    width:15%;
    height: var(--margin-nav);
    position: relative;

    img {
        padding: 5px;
        height: 80px;
    }
}


.nav-menu {

    border: var(--border-test);
    flex: 1 0 auto;
    height: var(--margin-nav);
    
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;


        li {
            padding-top: 30px;
            margin: 0 auto;
            text-align: center;

        }
    }

    a {
        text-decoration: none;
        color: var(--primary-white);
    }

    a:hover {
        color: lightcoral;        
    }
    
}


.nav-burger {
    border: var(--border-test);
    width: 15%;    
    height: var(--margin-nav);
    display: none;


    i {
        padding-top: 20px; 
        padding-right: var(--padding-right);    
        position: absolute;
        top:0;
        right:0px;   
    }
    

}



.footer {
    padding-top: 15px;
    height: var(--margin-nav);
    width: 100%;
    text-align: center;
    background-color: var(--primary-6);
    color: var(--primary-white);
    /* position: fixed;
    bottom: 0; */
    z-index: 5;


    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        margin:0;

    }

    li {
        margin: 0;
        font-size: 1.2rem;
        padding: 0 10px;
    }

    p {
        font-size: 0.8rem;
    }

}


.container-main {
    border: var(--border-test);
    padding: 0 auto;
    margin-top: var(--margin-nav);
    width:100vw;
    /* display: flex;
    flex-direction: row; */
    /* height: 100%; */;
    /* height: calc(100vh - var(--margin-nav)); */
    height:100%;
    position: relative;


    /* background-image: url(/img/background.png);
    /* background-position: fixed; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover;  */

    p {
        font-family: "Stick", sans-serif;
        font-weight: 500;    
        font-size: 1.2rem;
        text-align: center;
        padding: 20px;
    }

}

.mobile-list {
    border: var(--border-test);
    margin-top: var(--margin-nav);
    font-family: "Stick", sans-serif;
    /* width:15rem; */
    position: absolute;
    background-color: var(--primary-2);
    top:0;
    right:0;
    transition: 1s;
    opacity: 0;
    height:0;
    /* display: none;    */

    ul {
        width: 15rem;
    }

    li {
        padding: 10px;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: var(--primary-white);
        font-size: 1.2rem;
        
        
    }

}


.mobile-list.active {
    /* transform:translateX(300%); */
    display: block;
    height: 20rem;
    opacity:1;    
    transition: 0.8s;
    z-index: 5;
}

.mobile-menu-toggle {
    cursor: pointer;

}


.container-grid {
    
    border: var(--border-test);
    display: grid;
    width: 90vw;
    height: calc(100vh-var(var(--margin-nav)));
    max-width: var(--max-width);
    justify-items: start;
    justify-content: start;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    
    
    .img-main {
        margin-top: var(--margin-nav);
        /* border: var(--border-test); */
        width: 75%;
        min-width: 400px;
        margin: 2rem auto;
        /* box-shadow: var(--shadow); */
        position: relative;
        

        img {
            width: 100%;
            filter: blur(4px);
            /* margin-bottom: var(--margin-nav); */
        }

    }

    .img-main img:hover {
        
        filter: blur(0);
        transform: scale(1.1);
        transition: 1s;
        box-shadow: var(--shadow);
    }

}


.img-main::before {
    position: absolute;
    text-align: center;
    padding: 0%;
    color:var(--img-text);
    font-family: "Stick", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    top:calc(80%/2);
    right: calc(85%/2);
    z-index: 1;

}

.img-japan::before {
    content: "東京";
 }

.img-seoul::before {
    content: "首爾";  
}

.img-bangkok::before {
    content: "曼谷";
 }


.img-london::before {
    content: "倫敦"; 
}

@media (max-width:800px) {

    .nav-menu {
        display: none;
    }

    .nav-burger {
        display: block;
    }

    .container-grid {
        grid-template-columns: repeat(1,1fr);
        
    }
}

.gallery {
    display: flex;
    flex-direction: column;

}


.container-history {

    border: var(--border-test);
    width:100%;
    max-width: 700px;
    min-width: 400px;
    margin: var(--margin-nav) auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:var(--primary-white);
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-7);
    padding: 20px;
    color: var(--primary-white);
    box-shadow: var(--shadow);
    margin-bottom: 0;
    opacity: 0.8;

    .card-title::first-letter {
    font-size: 2.5rem;
    color: var(--primary-4);

    }

    .card-body ul {
        margin: 0;
        padding: 0;
    }

}



.container-sight {
    border: var(--border-test);
    padding: var(--margin-nav) calc(var(--margin-nav)/2);
    margin: 0 auto;
    width:100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: start;

    .card {
    box-shadow: var(--shadow);
    }


}

.card-body-sight {
    height: 15rem;
    min-width: 8rem;
    max-width: 18rem;

}

.sight {    
    width: 20rem;
}

.sight:last-child {    

    margin-bottom: var(--margin-nav);  

}



.sight h2 {
    font-size: 1.3rem;
}

.sight h2::first-line {
    font-size: 1.5rem;
    color: var(--primary-5);
}





.container-gallery {

    border: var(--border-test);
    width:80%;
    max-width: 700px;
    min-width: 400px;
    height:100%;
    margin: var(--margin-nav) auto;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color:black;
    padding: 20px;
    color: var(--primary-white);
    box-shadow: var(--shadow);

}


.container-weather {

    border: var(--border-test);
    width:100%;
    max-width: 700px;
    min-width: 400px;
    margin: var(--margin-nav) auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-2);
    padding: 20px;
    box-shadow: var(--shadow);
    margin-bottom: 0;
    border-radius: 5%;


}



.title, main h2 {
    display:block;
    width:100%;
    color: var(--primary-4);
    text-align: center;
    font-family: "Stick", sans-serif;
    font-weight: 500;    
    font-size: 2.8rem;
}



.about {

    border: var(--border-test);
    width:100%;
    
    padding: 0 20px 20px 20px;
    height: calc(100vh - var(--margin-nav));
    max-width: 700px;
    min-width: 400px;
    margin: var(--margin-nav) auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:start;

    /* background-color: var(--primary-white); */


    font-size: 1.2rem;

    iframe {
            box-shadow: var(--shadow);
    }

    p {
        padding: 0 2rem;
        line-height: 1rem;
    }

    span {
        font-weight: 600;
    }

    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        width: 100%;
        height: 400px;
        margin: 20px 0;
    }
}

.website {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: var(--margin-nav) 0;

}


.container-carousel {
    border: var(--border-test);
    padding: 20px;
    max-width: 800px;
    /* max-height:600px;
    
    max-width: 700px; */
    /* min-width: 400px; */
    
    margin: 0 auto;


    img {
    max-width: 100%; /* Ensures the image never exceeds its parent container's width */
    height: auto;    /* Maintains the original aspect ratio by adjusting height proportionally */
    }
}




/* .slide {
        width: 80vw;
        position: relative;
}

.carousel-indicators {
    width:80vw;
    position: absolute;
    bottom:0;
    right: calc(80vw - 500px);
} */