body, html {

    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    word-spacing: 5px;
    position: relative;
    background-image: url(./assets/background.png);
    /* background-position: fixed; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}


:root {
    --primary-white: white;
    --primary-black: black;
    --primary-1:#d8e2dc;
    --primary-2:#ffe5d9;
    --primary-3:#ffcad4;
    --primary-4:#f4acb7;
    --primary-4:#9d8189;
    --primary-5:#355070;
    --primary-6:#6d597a;
    --primary-7:#b56576;
    --primary-8:#e56b6f;
    --primary-9:#eaac8b;
    --border-test: 0px solid violet;
    --font-color: gray;
    --margin-nav:80px;
    --padding-right:20px;
    --shadow: 8px 5px 5px 0px darkgray;
    --max-width: 1100px;
    --img-text:var(--primary-2);
    --border-radius: 10px; 


}

li {
        list-style-type: none;
}

a {
        text-decoration: none;
}
    
a:hover {
        text-decoration: none;
}

.container-nav {
    border: var(--border-test);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:var(--primary-1);
    height: var(--margin-nav);
    position: fixed;
    top:0;
    z-index: 5;



}


.nav-logo {
    border: var(--border-test);
    width:15%;
    height: var(--margin-nav);
    position: relative;

    img {
        padding: 5px;
        height: 80px;
    }
}


.nav-menu {

    border: var(--border-test);
    flex: 1 0 auto;
    height: var(--margin-nav);
    
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;


        li {
            padding-top: 30px;
            margin: 0 auto;
            text-align: center;

        }
    }

    a {
        text-decoration: none;
        color: var(--primary-6);
    }

    a:hover {
        color: lightcoral;        
    }
    
}


.nav-burger {
    border: var(--border-test);
    width: 15%;    
    height: var(--margin-nav);
    display: none;


    i {
        padding-top: 20px; 
        padding-right: var(--padding-right);    
        position: absolute;
        top:0;
        right:0px;   
    }
    

}



.footer {
    padding-top: 15px;
    height: var(--margin-nav);
    width: 100%;
    text-align: center;
    background-color: var(--primary-1);
    color: var(--primary-5);
    /* position: fixed;
    bottom: 0; */
    z-index: 5;


    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        margin:0;

    }

    li {
        margin: 0;
        font-size: 1.2rem;
        padding: 0 10px;
    }

    p {
        font-size: 0.8rem;
    }

}


.mobile-list {
    border: var(--border-test);
    margin-top: var(--margin-nav);
    font-family: "Stick", sans-serif;
    width:10rem;
    position: absolute;
    background-color: var(--primary-6);
    top:0;
    right:0;
    transition: 1s;
    opacity: 0;
    height:0;
    display: none;   

    li {
        padding: 10px;
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
        color: var(--primary-white);
        font-size: 1.2rem;
        
        
    }

}


.mobile-list.active {
    /* transform:translateX(300%); */
    display: block;
    height: 22rem;
    opacity:1;    
    transition: 0.8s;
    z-index: 5;
}

.mobile-menu-toggle {
    cursor: pointer;

}


.container-main {
    border: var(--border-test);
    padding: 0 auto;
    margin-top: var(--margin-nav);
    width:100vw;
    /* display: flex;
    flex-direction: row; */
    /* height: 100%; */;
    /* height: calc(100vh - var(--margin-nav)); */
    height:100%;
    position: relative;


    /* background-image: url(/img/background.png);
    /* background-position: fixed; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover;  */

    p {
        font-family: "Stick", sans-serif;
        font-weight: 500;    
        font-size: 1.2rem;
        text-align: center;
        padding: 20px;
    }

}



.container-purchase, 
.container-meat, 
.container-redmeat,
.container-whitemeat,
.container-seafood

{
    /* padding-top: var(--margin-nav); */
    /* color: var(--primary-black); */

    padding: var(--margin-nav) 20px var(--margin-nav) 20px;
    max-width: var(--max-width);
    margin: 0 auto;
    



    h2 {
        padding-top: var(--margin-nav);
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;
        color: var(--primary-5);

    }

    h3 {
        padding-top: var(--margin-nav);
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
        color: var(--primary-5)
    }


    h5::first-letter {
        font-size: 2.2rem;
    }


    >p {

        font-size: 1.5rem;
        text-align: center;
    }

    .card-body {

        background-color: var(--primary-2);
        padding-bottom: 0;
        margin-bottom: 0;
    }


}



.container-redmeat,
.container-whitemeat,
.container-seafood

{

    max-width: 800px;

}


.card-meat .card-body {
    background-color: var(--primary-2);
    padding-bottom: 0;
    margin-bottom: 0;
} 

.card-meat .col-md-8 {
    background-color:var(--primary-2);
}

.card-meat img {
    min-height: 250px;
    min-width: 300px;
}

.card {

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    border-radius: 50px;
    max-width: var(--max-width);
    /* height: 100%; */
    margin-top: var(--margin-nav);
    box-shadow: var(--shadow);
    position: relative;


    .col-md-4 {
        position: relative;
    }
    
    .col-md {
        background-color: var(--primary-2);
    }

    .card-text {
        width: 80%;

    }

    .card-title {
        color: var(--primary-5);
        font-size: 1.5rem;
        font-weight:800;
    }

    .col-md-4 {
        text-align: center;

    }

    .card-img-top {

        /* width: 100%; */
        min-width: 200px;
        max-width: 300px;

    }

    .card-price {
        position:absolute;
        right: 0;
        bottom: 0;
        width: 10rem;
        text-align: right;
        margin:0;
        padding:10px;
        background-color: var(--primary-7);
        color: var(--primary-white);
    }
    

}

.btn-group {
    /* display: block; */
    width:100%;
    height: 50%;
    top: var(--margin-nav);
    right:0;
    
    
    a {
        text-decoration: none;
        opacity: 0.8;
        font-size: 1.1rem;
        width:100%;
        z-index: 3;


    }

    .btn {

        width:calc(100%/4);
        border-radius: 0;
        position: fixed;
        top: var(--margin-nav);
    }


    .btn:hover {
        opacity: 0.9;
        background-color: gray;
        color: var(--primary-white);
    }

    .btn-spring {
        background-color: #f4acb7;

    }

    .btn-summer {
        background-color: #fa5d2d;
    }

    .btn-autumn {
        background-color: #e9e198;
    }

    .btn-winner {
        background-color: #c9e9f8;
    }


}


@media (max-width:800px) {

    .nav-menu {
        display: none;
    }

    .nav-burger {
        display: block;
    }

    .container-grid {
        grid-template-columns: repeat(1,1fr);
        
    }
}


.card-meat {
    width: 100%;


    .card-img-top {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .card-body {
        width: 100%;
        padding: 20px;
        margin:0;
    h5 {
        color: var(--primary-7);
    }

    }

    .card-text {
        width: 100%;
    }



}



.about {

    border: var(--border-test);
    width:100%;    
    padding: 0 20px 20px 20px;
    height: calc(100vh - var(--margin-nav));
    max-width: 700px;
    min-width: 400px;
    margin: var(--margin-nav) auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:start;
    font-size: 1.2rem;

    iframe {
            box-shadow: var(--shadow);
    }

    p {
        padding: 0 2rem;
        line-height: 1rem;
    }

    span {
        font-weight: 600;
    }

    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        width: 100%;
        height: 400px;
        margin: 20px 0;
    }
}

.container-carousel {
    border: var(--border-test);
    padding: 20px;    
    margin: 0 auto;

    h3 {
        color: var(--primary-black);
        font-size: 2rem;
        font-weight: 800;
    }
    img {
    max-width: 100%; /* Ensures the image never exceeds its parent container's width */
    height: auto;    /* Maintains the original aspect ratio by adjusting height proportionally */
    }
}

